---
import type { GetStaticPaths } from "astro";
import Image from "astro/components/Image.astro";
import { getCollection } from "astro:content";
import BlogLayout from "src/layouts/BlogLayout.astro";

export const getStaticPaths = (async () => {
    const results = await getCollection("blog");

    return results.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const frontmatter = post.data;

const { Content, headings } = await post.render();
---

<BlogLayout title={frontmatter.title}>
    <h1 class="text-xs text-gray-500 mb-0">{frontmatter.title}</h1>
    <h4 class="text-md text-gray-400 mb-0">{frontmatter.author}</h4>
    <Image 
    src={frontmatter.image}
    alt={frontmatter.title}
    width={600}
    height={200}
    class="object-cover w-full h-[250px] my-5 rounded-md"/>

    <h3>Tabla de contenido</h3>
    <ol>
        {
            headings.map((heading, index) => (
                <li>
                    <a href={`#${heading.slug}`}>
                        {index + 1} - {heading.text}
                    </a>
                </li>
            ))
        }
    </ol>
    <!-- Contenido  -->
    <Content />
</BlogLayout>
