---
import { getEntry } from 'astro:content';



import type { GetStaticPaths } from "astro";
import Image from 'astro/components/Image.astro';
import { getCollection } from "astro:content";
import BlogLayout from "src/layouts/BlogLayout.astro";
import { Formatter } from '@utils/formatter';

export const getStaticPaths = (async () => {
    const results = await getCollection("blog");

    return results.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const frontmatter = post.data;

const { Content, headings } = await post.render();
const author = (await getEntry('author', post.data.author.id)).data;
console.log("🚀 ~ author:", author)

---

<BlogLayout title={frontmatter.title}>
    <h1 class="text-xs lg:text-3xl text-gray-500 mb-0">{frontmatter.title}</h1>
    <div class="flex items-center mb-4 mt-5">
    <Image class="object-cover w-full h-56 rounded-lg lg:w-64" 
    src={author.avatar}
    alt={author.name}
    width={50}
    height={50}
    quality="low"
    class="rounded-full"
    />
    <div class="flex flex-col ml-3">
    <a href="" class="lg:text-2xl">{author.name}</a>
    <span class="text-white">{Formatter.formDate(frontmatter.date)}</span>
</div>
</div>
    <Image 
    
    src={frontmatter.image}
    alt={frontmatter.title}
    width={600}
    height={200}
    class="object-cover w-full h-[250px] my-5 rounded-md"/>

    <h3>Tabla de contenido</h3>
    <ol>
        {
            headings.map((heading, index) => (
                <li>
                    <a href={`#${heading.slug}`}>
                        {index + 1} - {heading.text}
                    </a>
                </li>
            ))
        }
    </ol>
    <!-- Contenido  -->
    <Content />
</BlogLayout>
